<!DOCTYPE html>
<html lang="ja">
<head>
  	<meta charset="UTF-8">
  	<title>競プロ デバック 視覚化</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<!-- Bootstrap -->
  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
	<h1 class="text-center mb-3">競プロ デバック 視覚化</h1>
    {% if error_message != None%}
    <p class="text-danger">{{error_message}}</p>
    {% endif %}
    <h2 class="mb-3">プログラム入力</h2>
    <form method="post" action="/">        
        <div class="mb-3">
            <label for="code-input" class="form-label">コードをここに入力してください：</br>デバックしたいところにdebug(x = x)を入れてください(xは変数名)</label>
            <textarea class="form-control" id="code-input" name="code-input" rows="15">{% if code != None %}{{ code }}{% endif %}</textarea>
        </div>
        <h2 class="mb-3">入力データ</h2>     
        <div class="mb-3">
            <label for="input-data" class="form-label">プログラムの入力をここに入力してください：</label>
            <textarea class="form-control" id="input-data" name="input-data" rows="8">{% if input_data != None %}{{ input_data }}{% endif %}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">実行</button>    
    </form>

    {% if all_variables != None%}
        <div class="d-flex justify-content-center mb-3">
            <button id="prev-btn" class="btn btn-primary">&lt; 前</button>
            <button id="next-btn" class="btn btn-primary">次 &gt;</button>

            <select id="step-select" class="form-select mx-2" style="width: auto;">
            {% for i in range(all_variables|length) %}
                <option value="{{ i }}">ステップ {{ i+1 }}</option>
            {% endfor %}
            </select>

            <select id="step-length-select" class="form-select mx-2" style="width: auto;">
            {% for i in range(all_variables|length) %}
                <option value="{{ i+1 }}">同時に表示するステップ数 {{ i+1 }}</option>
            {% endfor %}
            </select>
        </div>
    {% endif %}

    {% if all_variables != None %}
		<div class="table-responsive" id="variables-div">
			<h4>変数</h4>
			<table class="table table-bordered table-striped" id="variables-table">
                <thead class="table-light">
                </thead>
                <tbody></tbody>
            </table>
		</div>

		<div class="table-responsive" id="one-d-array-div">
			<h4>一次元配列</h4>
			<table class="table table-bordered" id="one-d-array-table">
                <thead>
                </thead>
                <tbody></tbody>
            </table>
		</div>

		<div class="table-responsive" id="n-d-array-div">
			<h4>N次元配列</h4>
            <div class="d-flex gap-2 align-items-center">
                <select id="n-d-array-select" class="form-select" style="width: auto;"></select>
                <select id="vertical-axis" class="form-select" style="width: auto;"></select>
                <select id="horizontal-axis" class="form-select" style="width: auto;"></select>
                <div id="fixed-dimension-container" class="d-flex gap-2 align-items-center"></div>
            </div>
            <table class="table table-bordered" id="n-d-array-table">
                <thead>
                </thead>
                <tbody></tbody>
            </table>
		</div>

        <div class="table-responsive" id="segmenttree-div">
			<h4>セグ木</h4>
            <div class="d-flex gap-2 align-items-center">
                <select id="segmenttree-select" class="form-select" style="width: auto;"></select>
            </div>
            <table class="table table-bordered" id="segmenttree-table">
                <thead>
                </thead>
                <tbody></tbody>
            </table>
		</div>

        <div class="table-responsive" id="stack-div">
			<h4>スタック</h4>
            <table class="table table-bordered" id="stack-table">
                <thead>
                </thead>
                <tbody></tbody>
            </table>
		</div>
    {% endif %}


</div>
</body>

<script>
    document.getElementById('code-input').placeholder =
`例：
N, X = map(int, input().split())
A = list(map(int, input().split()))
for i in range(N):
    A[i] = A[i] + X
    debug(N=N,X=X,A=A)
`;
</script>
{%if all_variables != None %}
    <script>
        window._all_variables = JSON.parse(`{{ all_variables_json | safe }}`);
    </script>
    <script type="module" src="{{ url_for('static', filename='../static/js/main.js') }}"></script>
{% endif %}

</html>
